@use "../../generalStyles.scss" as *;

.nav {
  background-color: $color-primary;
  grid-column: navbar-start / navbar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: end;
    align-items: center;
  }

  &Btn {
    margin-top: 4rem;
    background-color: $color-grey-light-1;
    height: 2px;
    width: 4.5rem;

    &::before,
    &::after {
      content: "";
      display: block;
      background-color: $color-grey-light-1;
      height: 2px;
      width: 4.5rem;
    }

    &::before {
      transform: translateY(-1.5rem);
    }

    &::after {
      transform: translateY(1.3rem);
    }

    @media only screen and (max-width: $bp-large) {
      margin-top: 0;
      margin-right: 2rem;
      &::before {
        transform: translateY(-1.2rem);
      }
  
      &::after {
        transform: translateY(1rem);
      }
    }
  }
}
