@use "../../generalStyles.scss" as *;

%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading1 {
  @extend %heading;
  font-size: 4.5rem;
  line-height: 1;
}

.heading2 {
  @extend %heading;
  line-height: 1;
  font-size: 4rem;
  font-style: italic
}

.heading3 {
  @extend %heading;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.heading4 {
  @extend %heading;
  font-size: 1.9rem;
}

.primary {
  color: $color-primary;
}

.light {
  color: $color-grey-light-1;
}

.dark {
  color: $color-grey-dark-1;
}
